<h1>Jeux du genre : {{genre.nom}}</h1>

<table>
  <tr>
    <th>Titre</th>
    <th>Description</th>
  </tr>
  {{#each genre.jeux}}
    <tr>
      <td>{{titre}}</td>
      <td>{{description}}</td>
    </tr>
  {{else}}
    <tr>
      <td colspan="2">Aucun jeu trouvé pour ce genre.</td>
    </tr>
  {{/each}}
</table>

<div class="button-container">
  <a href="/genres" class="btn btn-secondary">Retour à la liste des genres</a>
</div>
