<h1 class="title">Jeux mis en avant</h1>

{{#if jeuxMisEnAvant.length}}
  <table>
    <tr>
      <th>Titre</th>
      <th>Description</th>
      <th>Date de sortie</th>
    </tr>
    {{#each jeuxMisEnAvant}}
      <tr>
        <td>{{this.titre}}</td>
        <td>{{this.description}}</td>
        <td>{{formatDate this.dateSortie}}</td>
      </tr>
    {{/each}}
  </table>
{{else}}
  <p style="text-align: center;">Aucun jeu mis en avant pour le moment.</p>
{{/if}}
