<h1 class="title">Liste des Éditeurs</h1>

<div class="editeur-container">
  <ul class="editeur-list">
    {{!-- Boucle pour afficher chaque éditeur --}}
    {{#each editeurs}}
      <li class="editeur-item">
        <span class="editeur-nom">{{nom}}</span>
        <div class="editeur-actions">
          <a href="/editeurs/{{id}}/jeux" class="btn btn-primary">Voir Jeux</a>
          <a href="/editeurs/{{id}}/edit" class="btn btn-warning">Modifier</a>
          <form action="/editeurs/{{id}}/delete" method="POST" style="display:inline;">
            <button type="submit" class="btn btn-danger">Supprimer</button>
          </form>
        </div>
      </li>
    {{/each}}
  </ul>
</div>

<div class="button-container">
  <a href="/editeurs/new" class="btn btn-success new-editeur-btn">Créer un nouvel éditeur</a>
</div>
