<h1 class="title">Jeux de l'éditeur : {{editeur.nom}}</h1>

<table>
  <tr>
    <th>Titre</th>
    <th>Description</th>
  </tr>
  {{#each editeur.jeux}}
    <tr>
      <td>{{titre}}</td>
      <td>{{description}}</td>
    </tr>
  {{else}}
    <tr>
      <td colspan="2">Aucun jeu trouvé pour cet éditeur.</td>
    </tr>
  {{/each}}
</table>

<div class="button-container">
  <a href="/editeurs" class="btn btn-secondary">Retour à la liste des éditeurs</a>
</div>
